:root {
  --color-redPrimary:#e75258;
  --color-redSecondary:#F9ECEF;
  --color-greenPrimary:#00A36F;
  --color-greenSecondary:#ECF9F6;
  --color-purplePrimary:#5255AC;
  --color-goldPrimary:#B19B70;
  --color-bluePrimary:#0366D6;
  --color-blueSecondary:#EFF7FF;
  --color-yellowPrimary:#FBA500;
  --color-yellowSecondary:#FFF8E4;

  --color-white:#FFFFFF;
  --color-white-alpha50:rgba(255,255,255,.5);
  
  --color-black:#000;
  --color-black-alpha15:rgba(0,0,0,.15);
  --color-black-alpha35:rgba(0,0,0,.35);

  --color-border:#E2E2E2;

  --color-grey3: #FAFAFA;
  --color-grey5: #F2F2F2;
  --color-grey7: #EDEDED;
  --color-grey10: #E6E6E6;
  --color-grey20: #CCCCCC;
  --color-grey30: #B2B2B2;
  --color-grey40: #999999;
  --color-grey50: #7F7F7F;
  --color-grey60: #666;
  --color-grey70: #4C4C4C;
  --color-grey80: #333333;
  --color-grey90: #191919;

  --font-sansSerif: "Inter", Helvetica, Arial, sans-serif;
  --font-monospace: "Decima Mono Pro", "SF Mono", monospace;

  --box-shadow: 0px 4px 15px rgb(0 0 0 / 10%), 0px 1px 1px rgb(0 0 0 / 5%);
}

body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
